@import "nav.css";

body {
  background-color: lightseagreen;
  box-sizing: border-box;
}

.countryImage {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  background-color: lightsalmon;
}

header {
  /* border: 2px solid gray; */
  /* box-shadow: 1px 2px 2px gray; */
  padding: 10px 8px;
  background-color: beige;
  font: italic 1.2em "Fira Sans", serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: lightsalmon; */
}

.content li {
  /* font: italic 1.2em "Fira Sans", serif; */
  font: italic 1.2em "Fira Sans", serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: bold;
  text-align: left;
  list-style-type: circle;
}

.content__cities {
  border-radius: 5px;
  border: 1px solid red;
  padding: 0 5px;
  flex-basis: 25%;
  background-color: lightsalmon;
  /* font: italic 1.2em "Fira Sans", serif; */
  font: italic 1.2em "Fira Sans", serif;
}

.content__landmarks {
  border-radius: 5px;
  border: 1px solid red;
  padding: 0 5px;
  flex-basis: 25%;
  background-color: lightsalmon;
  font: italic 1.2em "Fira Sans", serif;
}
.content__leaders {
  border-radius: 5px;
  border: 1px solid red;
  padding: 0 5px;
  flex-basis: 25%;
  background-color: lightsalmon;
  font: italic 1.2em "Fira Sans", serif;
}

.dialog {
  padding: 2.5em;
  height: 220px;
  width: 200px;
}
.btn {
  position: relative;
  top: 150px;
  right: 100px;
  padding: 2px;
}
.content h3 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font: italic 1.5em "Fira Sans", serif;
  /* font-weight: bold; */
  text-align: center;
  /* font: italic 1.2em "Fira Sans", serif; */
}

/* not using this css changed name with MMM */
.highlightMMM {
  /* border: 1px solid red; */
  padding: 0 5px;
  flex-basis: 25%;
}

img {
  max-width: 100%;
}

aside {
  flex-basis: 30%;
  border: 1px solid red;
  padding: 0 5px;
}

/* nav span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  } */

.thumbnail {
  position: relative;
  float: left;
  padding: 5px;
}

.thumbnail:hover {
  color: white;
  text-decoration: none;
}

.thumbnail span {
  /*CSS for enlarged image*/
  position: absolute;
  background-color: goldenrod;
  padding: 5px;
  border: 1px solid gray;
  visibility: hidden;
  color: black;
  text-decoration: none;
}

.thumbnail span img {
  /*CSS for enlarged image*/
  border-width: 0px;
}

.thumbnail:hover span {
  /*CSS for enlarged image on hover*/
  visibility: visible;
  width: 500px;
  top: -220px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
  left: 170px; /*position where enlarged image should offset horizontally */
}
